EDA DEBUNKING MENSTRUAL MYTHS

In [1]:
# Tratamiento de datos
# -----------------------------------------------------------------------
import pandas as pd
import numpy as np
# Visualización
# ------------------------------------------------------------------------------
import matplotlib.pyplot as plt
import seaborn as sns
# Evaluar linealidad de las relaciones entre las variables
# y la distribución de las variables
# ------------------------------------------------------------------------------
#import scipy.stats as stats
import scipy.stats as stats
from scipy.stats import shapiro, kstest
# Configuración
# -----------------------------------------------------------------------
pd.set_option('display.max_columns', None) # para poder visualizar todas las columnas de los DataFrames 


# Gestión de los warnings
# -----------------------------------------------------------------------
import warnings
warnings.filterwarnings("ignore")

EDA menstrual_cycle_with_factos.csv

In [28]:
df_mcwf = pd.read_csv("../files/raw/menstrual_cycle_with_factors.csv")

In [29]:
df_mcwf.head()

,User ID,Age,BMI,Stress Level,Exercise Frequency,Sleep Hours,Diet,Cycle Start Date,Cycle Length,Period Length,Next Cycle Start Date,Symptoms
0,1,18,29.28,2,Moderate,5.4,Low Carb,2024-11-13 20:52:34.915012,26,7,2024-12-09 20:52:34.915012,Headache
1,1,18,29.28,2,Moderate,5.4,Low Carb,2024-12-09 20:52:34.915012,32,5,2025-01-10 20:52:34.915012,Fatigue
2,1,18,29.28,2,Moderate,5.4,Low Carb,2025-01-10 20:52:34.915012,41,7,2025-02-20 20:52:34.915012,Fatigue
3,1,18,29.28,2,Moderate,5.4,Low Carb,2025-02-20 20:52:34.915012,27,3,2025-03-19 20:52:34.915012,Fatigue
4,1,18,29.28,2,Moderate,5.4,Low Carb,2025-03-19 20:52:34.915012,42,5,2025-04-30 20:52:34.915012,Cramps

In [30]:
df_mcwf.columns

Index(['User ID', 'Age', 'BMI', 'Stress Level', 'Exercise Frequency',
       'Sleep Hours', 'Diet', 'Cycle Start Date', 'Cycle Length',
       'Period Length', 'Next Cycle Start Date', 'Symptoms'],
      dtype='object')

In [31]:
df_mcwf = df_mcwf[['User ID', 'Age', 'BMI', 'Stress Level', 'Exercise Frequency',
       'Sleep Hours', 'Cycle Length',
       'Period Length', 'Symptoms']]

In [33]:
df_mcwf.to_csv("../files/processed/mens_cycle.csv")

In [32]:
df_mcwf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 895 entries, 0 to 894
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   User ID             895 non-null    int64
 1   Age                 895 non-null    int64
 2   BMI                 895 non-null    float64
 3   Stress Level        895 non-null    int64
 4   Exercise Frequency  895 non-null    object
 5   Sleep Hours         895 non-null    float64
 6   Cycle Length        895 non-null    int64
 7   Period Length       895 non-null    int64
 8   Symptoms            895 non-null    object
dtypes: float64(2), int64(5), object(2)
memory usage: 63.1+ KB

In [ ]:
df.isna().sum()

In [ ]:
df_mcwf.duplicated().sum()

In [ ]:
df_mcwf[df_mcwf["User ID"]== 1]

In [ ]:
df_mcwf[df_mcwf["User ID"]== 2]

In [ ]:
df_mcwf[df_mcwf["User ID"]== 3]

In [ ]:
sns.scatterplot(data=df_mcwf, x='BMI', y='Cycle Length')

In [ ]:
sns.scatterplot(data=df_mcwf, x='Age', y='Cycle Length')

In [ ]:
sns.scatterplot(data=df_mcwf, y='Sleep Hours', x='Cycle Length')

In [ ]:
sns.scatterplot(data=df_mcwf, y='Stress Level', x='Cycle Length')

In [ ]:
sns.barplot(data=df_mcwf, x='Diet', y='Cycle Length')

In [ ]:
sns.barplot(data=df_mcwf, x='Diet', y='Symptoms')

In [ ]:
sns.countplot(data=df_mcwf, x='Diet', hue='Symptoms')

In [ ]:
sns.countplot(data=df_mcwf, x='Diet')

EDA Altas hospitalarias

In [17]:
df_altas = pd.read_csv("../files/raw/altas_hospitalarias.csv", sep= ";")

In [14]:
df_altas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2250 entries, 0 to 2249
Data columns (total 4 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Diagnóstico principal (CIE10MC)  2250 non-null   object
 1   Sexo                             2250 non-null   object
 2   Motivo del alta                  2250 non-null   object
 3   Total                            2250 non-null   object
dtypes: object(4)
memory usage: 70.4+ KB

In [ ]:
df_altas["Sexo"].unique()

In [18]:
df_altas_m = df_altas[df_altas["Sexo"]== "Mujeres"]

In [ ]:
df_altas_m["Diagnóstico principal (CIE10MC)"].unique()

       '1409 Trastornos de la menstruación, menopausia y otras afecciones del aparato genital femenino N91-N95',
              '1408 Enfermedad inflamatoria de los órganos pélvicos femeninos N70-N77',
                     '0205 Neoplasia maligna del útero C53-C55',
       '0206 Neoplasia maligna del ovario C56',
              '0212 Leiomioma uterino D25',       '2102 Asistencia anticonceptiva Z30',

In [23]:
diagnosticos = ['1409 Trastornos de la menstruación, menopausia y otras afecciones del aparato genital femenino N91-N95', '1408 Enfermedad inflamatoria de los órganos pélvicos femeninos N70-N77', '1410 Otros trastornos del sistema genitourinario Resto de N00-N99','0205 Neoplasia maligna del útero C53-C55', '0206 Neoplasia maligna del ovario C56','0212 Leiomioma uterino D25']

In [24]:
df_altas_m = df_altas_m[df_altas_m["Diagnóstico principal (CIE10MC)"].isin(diagnosticos)]

In [26]:
df_altas_m.to_csv("../files/processed/discharged_f.csv")

In [ ]:
df_altas[(df_altas["Diagnóstico principal (CIE10MC)"] == '1410 Otros trastornos del sistema genitourinario Resto de N00-N99') & (df_altas["Sexo"] == 'Hombres')]

In [ ]:
df_altas["Total"][df_altas["Motivo del alta"]== "total"]

In [15]:
df_altas

,Diagnóstico principal (CIE10MC),Sexo,Motivo del alta,Total
0,0000 TODOS LOS DIAGNÓSTICOS A00-Z99 (excluyend...,Ambos sexos,total,4.751.829
1,0000 TODOS LOS DIAGNÓSTICOS A00-Z99 (excluyend...,Ambos sexos,curación o mejoría,4.181.592
2,0000 TODOS LOS DIAGNÓSTICOS A00-Z99 (excluyend...,Ambos sexos,traslado a otros centros,281.999
3,0000 TODOS LOS DIAGNÓSTICOS A00-Z99 (excluyend...,Ambos sexos,fallecimiento,226.359
4,0000 TODOS LOS DIAGNÓSTICOS A00-Z99 (excluyend...,Ambos sexos,otras causas,61.879
...,...,...,...,...
2245,ALTAS SIN DIAGNÓSTICOS,Mujeres,total,5.323
2246,ALTAS SIN DIAGNÓSTICOS,Mujeres,curación o mejoría,4.070
2247,ALTAS SIN DIAGNÓSTICOS,Mujeres,traslado a otros centros,299
2248,ALTAS SIN DIAGNÓSTICOS,Mujeres,fallecimiento,802
2249,ALTAS SIN DIAGNÓSTICOS,Mujeres,otras causas,151

EDA Endometriosis

In [2]:
df_endo = pd.read_csv("../files/raw/structured_endometriosis_data.csv")

In [ ]:
df_endo.info()

In [ ]:
df_endo.head()

In [ ]:
df_endo["Menstrual_Irregularity"].unique() #1 - Sí 0 -No

In [ ]:
df_endo["Hormone_Level_Abnormality"].unique() #1 - Anormal 0 - Normal

In [ ]:
df_endo["Infertility"].unique() #1 - Sí 0 -No

In [ ]:
df_endo["Diagnosis"].unique() #1 - Sí 0 -No

In [3]:
map = {1 : "Yes", 0 : "No"}

df_endo[["Infertility", "Menstrual_Irregularity", "Hormone_Level_Abnormality", "Diagnosis"]] = df_endo[["Infertility", "Menstrual_Irregularity", "Hormone_Level_Abnormality", "Diagnosis"]].applymap(map.get)

In [4]:
df_endo

,Age,Menstrual_Irregularity,Chronic_Pain_Level,Hormone_Level_Abnormality,Infertility,BMI,Diagnosis
0,24,Yes,8.361531,No,No,19.451314,No
1,37,Yes,4.995508,No,No,22.388436,No
2,46,Yes,3.363996,Yes,No,21.320443,No
3,32,Yes,5.246037,No,No,20.177715,Yes
4,28,Yes,3.898932,Yes,No,23.538103,Yes
...,...,...,...,...,...,...,...
9995,37,Yes,3.153169,Yes,No,18.318849,No
9996,44,No,4.044800,Yes,Yes,24.732344,No
9997,39,No,5.096384,Yes,Yes,34.204883,Yes
9998,47,Yes,7.598862,Yes,Yes,30.374964,Yes
9999,38,No,7.822210,No,No,26.385575,No

In [5]:
df_endo.to_csv("../files/processed/endometriosis.csv")

In [ ]:
for d in df_endo.columns:
    print(df_endo[d].unique())

In [ ]:
df_endo[df_endo["Age"] == 24]

EDA Ovarios Poliquísticos

In [7]:
df_pcos = pd.read_csv("../files/raw/pcos.csv")

In [ ]:
df_pcos.info()

In [10]:
df_pcos.head()

,Age,BMI,Menstrual_Irregularity,Testosterone_Level(ng/dL),Antral_Follicle_Count,PCOS_Diagnosis
0,29,21.2,No,46.1,9,No
1,20,20.5,No,59.4,6,No
2,23,23.1,No,69.3,10,No
3,19,32.7,Yes,77.7,37,Yes
4,19,25.9,No,49.4,5,No

In [9]:
map = {1 : "Yes", 0 : "No"}

df_pcos[["Menstrual_Irregularity", "PCOS_Diagnosis"]] = df_pcos[["Menstrual_Irregularity", "PCOS_Diagnosis"]].applymap(map.get)

In [11]:
df_pcos.to_csv("../files/processed/pcos.csv")